body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #43C6AC;
  background: -webkit-linear-gradient(to right, #2e77b5, #43C6AC);
  background: linear-gradient(to right, #2e77b5, #43C6AC);

}

button {
  cursor: pointer;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
